
<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cart</title>

<link rel="stylesheet" href="{% static 'css/cart.css' %}">

</head>
<body>
    <div class="nav">
         <a href="{% url 'home'  %}">
        <img class="logo" src="{%  static  'images/logo og.png'  %}" alt="JerseyHub Logo">
         </a>
        
        <div class="nav-links">
            <a href="../home">Home</a>
            <a href="../products">All Products</a>
            <a href="{% url 'worldcup' %}">World Cup Jerseys</a>
            <a href="{% url 'club' %}">Club Jerseys</a>
        </div>
        
        <form method="GET" action="{% url 'products' %}">
            <input class="search-box" type="search" name="search" placeholder="Search by players, clubs, nations">
        </form>
        
        <a href="{% url 'wishlist_page' %}" class="wishlist-icon">
            <img class="love" src="{% static 'images/love.png' %}" alt="">
        </a>
        
       <a href="{% url 'cart_page' %}" class="cart-icon">
    <img class="cart" src="{% static 'images/shopping-cart.png' %}" alt="">

   
</a>
        <div class="logout-btn">
            <a href="../logout"><button class="logout">Logout</button></a>
        </div>
    </div>

<div class="haha">
<h2>MY CART</h2>
<a href="{% url 'my_orders' %}" class="orders">My Ordes</a>
</div>

      


<div class="full">

{% for item in cart_items %}

<div class="cart-card">

<div class="img-nam">

<img src="{{ item.jersey.image.url }}" width="150">

<h3 class="name">{{ item.jersey.team }}</h3>

<p class="price">Price: ₹ {{ item.jersey.price }}</p>

<p class="size">Size: {{ item.size }}</p>

{% if item.player_name %}
<p class="custom">Name: {{ item.player_name }}</p>
{% endif %}

{% if item.player_number %}
<p class="custom">Number: {{ item.player_number }}</p>
{% endif %}

</div>


<div class="quantity-box">

<a href="{% url 'decrease_quantity' item.id %}">
<button>-</button>
</a>

<span>{{ item.quantity }}</span>

<a href="{% url 'increase_quantity' item.id %}">
<button>+</button>
</a>

</div>
<a href="{% url 'remove_cart' item.id %}" class="remove-btn">
Remove
</a>

</div>

{% empty %}


<div class="empty-cart">
        <p>Your cart is empty</p>

        <a href="{% url 'home' %}" class="browse-btn">
            Browse Jerseys
        </a>
    </div>
{% endfor %}

</div>


<div class="total">

<h3>Total Price: ₹ {{ total }}</h3>
<a href="{% url 'buy_now' %}" class="buy-btn">BUY NOW</a>


</div>


</body>
</html>