<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Jerseys</title>
    <link rel="stylesheet" href="{%  static    'css/club.css'  %}">


</head>
<body>
    <h2 style="text-align: center;">Club Jerseys</h2>

<div class="jersey-container">

{% for jersey in jerseys %}

<div class="jersey-card">
<a href="" class="wishlist-btn">
        {% if jersey.id in wishlist_products %}
        <span class="heart selected">♥</span>
    {% else %}
        <span class="heart">♥</span>
    {% endif %}
    </a>
<a href="{% url 'jersey_detail' jersey.id %}">
<img src="{{ jersey.image.url }}" class="jersey-img">
</a>

<h3>{{ jersey.name }}</h3>

<p>₹ {{ jersey.price }}</p>
  {% if jersey.stock == 0 %}
  <span class="soldout">Sold Out</span>

  {% elif jersey.stock <= 5  %}
  <span class="lowstock">Only {{ jersey.stock }} left </span> 
  {% endif %}
         {% if jersey.stock > 0 %}
        <button class="cart-btn">Add to Cart</button>
  {% else %}
  <button class="cart-btn disabled">Add to Cart</button>
  {% endif %}


</div>

{% endfor %}

</div>
</body>
</html>