<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/jersey_detail.css' %}">
</head>
<body>
    <div class="nav">
        <a href="{% url 'home'  %}">
        <img class="logo" src="{%  static  'images/logo og.png'  %}" alt="JerseyHub Logo">
        </a>
        
        <div class="nav-links">
            <a href="{% url 'home' %}"">Home</a>
            <a href="../products">All Products</a>
            <a href="{% url 'worldcup' %}">World Cup Jerseys</a>
            <a href="{% url 'club' %}">Club Jerseys</a>
        </div>
        
        <form method="GET" action="{% url 'products' %}">
            <input class="search-box" type="search" name="search" placeholder="Search by players, clubs, nations">
        </form>
        
        <a href="{% url 'wishlist_page' %}" class="wishlist-icon">
            <img class="love" src="{% static 'images/love.png' %}" alt="">
            {% if wishlist_count > 0 %}
                <span class="wishlist-count">{{ wishlist_count }}</span>
            {% endif %}
        </a>
        
       <a href="{% url 'cart_page' %}" class="cart-icon">
    <img class="cart" src="{% static 'images/shopping-cart.png' %}" alt="">

    {% if cart_count %}
    <span class="cart-count">{{ cart_count }}</span>
    {% endif %}
</a>
        <div class="logout-btn">
            <a href="../logout"><button class="logout">Logout</button></a>
        </div>
    </div>



        
</div>
   <div class="product-container">

    <div class="product-image">

        <div class="img-box">
            <img src="{{ jersey.image.url }}" id="mainImage">
        </div>

        <div class="thumbnail-container">
            {% if jersey.img1 %}
<img src="{{ jersey.img1.url }}" alt="" onclick="changeImage(this)">
{% endif %}

{% if jersey.img2 %}
<img src="{{ jersey.img2.url }}" alt="" onclick="changeImage(this)">
{% endif %}

{% if jersey.img3 %}
<img src="{{ jersey.img3.url }}" alt="" onclick="changeImage(this)">
{% endif %}

{% if jersey.img4 %}
<img src="{{ jersey.img4.url }}" alt=""onclick="changeImage(this)">
{% endif %}

{% if jersey.img5 %}
<img src="{{ jersey.img5.url }}" alt=""onclick="changeImage(this)">
{% endif %}

{% if jersey.img6 %}
<img src="{{ jersey.img6.url }}" alt=""onclick="changeImage(this)">
{% endif %}

{% if jersey.img7 %}
<img src="{{ jersey.img7.url }}" alt=""onclick="changeImage(this)">
{% endif %}

{% if jersey.img8 %}
<img src="{{ jersey.img8.url }}" alt=""onclick="changeImage(this)">
{% endif %}

{% if jersey.img9 %}
<img src="{{ jersey.img9.url }}" alt=""onclick="changeImage(this)">
{% endif %}

{% if jersey.img10 %}
<img src="{{ jersey.img10.url }}" alt=""onclick="changeImage(this)">
{% endif %}
           



        </div>

    </div>

    <div class="product-info">
        <div class="wish">
          <a href="{% url 'add_to_wishlist' jersey.id %}" class="wishlist-btn">
        {% if jersey.id in wishlist_products %}
        <span class="heart selected">♡</span>
    {% else %}
        <span class="heart">♡</span>
    {% endif %}
    </a>
    </div>
        <h1>{{ jersey.team }}</h1>

        <p class="price">₹ {{ jersey.price }}</p>

        <p class="desc">
        {{ jersey.description }}
        
        </p>
          <form method="POST" action="{% url 'add_to_cart' jersey.id %}">
{% csrf_token %}

{% if jersey.stock == 0 %}
<span class="soldout">Sold Out</span>

{% elif jersey.stock <= 5 %}
<span class="lowstock">Only {{ jersey.stock }} left</span>
{% endif %}

<a href="#" class="customize-toggle" onclick="toggleCustomize()">Customize Jersey</a>

<div class="customize" id="customizeBox">

<label>Player Name</label>
<input type="text" name="player_name" placeholder="Enter Name">

<label>Number</label>
<input type="number" name="player_number" min="0" max="99" placeholder="10">

</div>

<h4>Select Size</h4>

<input type="hidden" name="size" id="selectedSize">

<div class="size-buttons">

{% for size, stock in sizes.items %}

<button 
type="button"
onclick="selectSize('{{ size }}')"
class="size-btn {% if stock == 0 %}out-stock{% endif %}"
{% if stock == 0 %}disabled{% endif %}>

{{ size }}

</button>

{% endfor %}

</div>

<div class="buttons">

{% if total_stock > 0 %}

<button type="submit" class="cart-btn">
Add to Cart
</button>



{% else %}

<button class="cart-btn disabled">Add to Cart</button>


{% endif %}

</div>

</form>
    </div>

</div>

</div>
</body>
</html>
<script>
function changeImage(element){
    document.getElementById("mainImage").src = element.src;
}
let sizes = document.querySelectorAll(".size-btn");

sizes.forEach(function(btn){

btn.addEventListener("click", function(){

sizes.forEach(function(b){
b.classList.remove("active");
});

this.classList.add("active");
document.getElementById("selectedSize").value = this.innerText;

});

});
function toggleCustomize(){
let box = document.getElementById("customizeBox");

if(box.style.display === "flex"){
    box.style.display = "none";
}else{
    box.style.display = "flex";
}
}
document.querySelector("form").addEventListener("submit", function(e){

let size = document.getElementById("selectedSize").value;

if(size === ""){
alert("Please select a size");
e.preventDefault();
}

});
</script>
